body{
    text-align: center;
    background-color: #eeeeff;
}

#main_div{
    margin: 0 auto;
    width: 1200;
    text-align: center;
}

#main_canvas{
    float: left;
    background-color: #ddddff;
}

#control_div{
    float: right;
    background-color: #ccccff;
    height: 800;
    width: 400;
}

.slider {
    -webkit-appearance: none;
    width: 380;
    height: 15px;
    border-radius: 5px;   
    background: #bbbbff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #7777ff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7777ff;
    cursor: pointer;
  }